@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-mulish);
  }
  h1 {
    font-family: var(--font-ibm-plex-sans);
    font-weight: 600;
    font-size: 40px;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* 
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
} */

@layer components {
  .content-layout {
    @apply py-2 px-4;
  }

  .content-layout > * {
    @apply mx-auto;
    max-width: 664px;
  }

  .content-layout > .container-expanded {
    max-width: 882px;
    @apply -mx-2 md:mx-auto;
  }

  .logo {
    @apply font-display font-bold dark:text-slate-50 text-xl md:text-3xl inline-block leading-6 md:leading-8;
  }

  .logo-text-gradient {
    @apply from-indigo-500 via-purple-500 to-pink-500 bg-gradient-to-r bg-clip-text text-transparent block;
  }

  .button {
    @apply font-semibold text-white bg-blue-500 border-2 border-blue-500 rounded-md px-4 py-2;
  }

  .listbox {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    left: 0;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    z-index: 9999;

    @apply bg-slate-900 text-slate-50;
  }

  .listbox-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 420px;
  }

  .listbox-item {
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }

  .listbox-item:hover {
      background-color: rgba(150, 150, 150, 0.15);
  }

  .listbox-item[aria-selected="true"] {
      outline: none;
      @apply bg-blue-500 text-white;
  }

  .autocomplete {
    position: relative;
    padding: 0 2px;
  }

  .autocomplete-notmatch {
    font-size: 14px;
    text-align: center;
    padding: 12px 0;
  }
}